--
-- PostgreSQL database dump
--

\restrict dNOhYQpa1oFL3MCCfTjsVBxrOceDD5MdAjxL07xUtQyv0cdRWaPsEWI6KMGwF1L

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_trail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_trail (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    action character varying(50) NOT NULL,
    previous_status character varying(50),
    new_status character varying(50),
    reason text,
    file_size bigint,
    file_type character varying(50),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_trail OWNER TO postgres;

--
-- Name: document_analyses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_analyses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    masked_text text NOT NULL,
    summary text,
    flags jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_analyses OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    file_name character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    file_size bigint NOT NULL,
    mime_type character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'Pending'::character varying NOT NULL,
    advisor_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    original_document_id uuid,
    CONSTRAINT documents_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Approved'::character varying, 'Needs Revision'::character varying, 'Rejected'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    document_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['STATUS_CHANGE'::character varying, 'REVISION_COMMENT'::character varying, 'COMPLIANCE_ALERT'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: revision_thread_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revision_thread_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    thread_id uuid NOT NULL,
    document_id uuid NOT NULL,
    author_id uuid NOT NULL,
    entry_type character varying(20) NOT NULL,
    message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT revision_thread_entries_entry_type_check CHECK (((entry_type)::text = ANY ((ARRAY['submission'::character varying, 'comment'::character varying, 'decision'::character varying])::text[])))
);


ALTER TABLE public.revision_thread_entries OWNER TO postgres;

--
-- Name: revision_threads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revision_threads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    root_document_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.revision_threads OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    migration_name character varying(255) NOT NULL,
    executed_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schema_migrations_id_seq OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['Advisor'::character varying, 'Officer'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Data for Name: audit_trail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_trail (id, document_id, user_id, action, previous_status, new_status, reason, file_size, file_type, created_at) FROM stdin;
15f49c54-958b-4a53-b917-f4d7dcd1a588	5d7894e4-88bb-44aa-a814-614c813ab51b	265c69ee-5bb7-4d54-b0c9-b86e66e07ef8	STATUS_UPDATED	Pending	Needs Revision	weqewq	\N	\N	2026-09-19 21:48:05.030196+00
8d1135e0-7050-478c-a100-ee6816b3c45a	5d7894e4-88bb-44aa-a814-614c813ab51b	265c69ee-5bb7-4d54-b0c9-b86e66e07ef8	REVISION_COMMENT_ADDED	\N	\N	weqewq	\N	\N	2026-09-19 21:48:05.03922+00
\.


--
-- Data for Name: document_analyses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: revision_thread_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: revision_threads; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schema_migrations (id, migration_name, executed_at) FROM stdin;
1	001_initial_schema.sql	2026-09-17 11:18:06.558805+00
2	002_versioning_and_revisions.sql	2026-09-17 11:18:06.654741+00
3	004_document_analysis.sql	2026-09-17 11:18:06.693765+00
4	003_audit_trail_and_notifications.sql	2026-09-19 14:37:46.716821+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: schema_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schema_migrations_id_seq', 4, true);


--
-- Name: audit_trail audit_trail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail
    ADD CONSTRAINT audit_trail_pkey PRIMARY KEY (id);


--
-- Name: document_analyses document_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_analyses
    ADD CONSTRAINT document_analyses_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: revision_thread_entries revision_thread_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_thread_entries
    ADD CONSTRAINT revision_thread_entries_pkey PRIMARY KEY (id);


--
-- Name: revision_threads revision_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_threads
    ADD CONSTRAINT revision_threads_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_migration_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_migration_name_key UNIQUE (migration_name);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: document_analyses uq_document_analysis_doc_ver; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_analyses
    ADD CONSTRAINT uq_document_analysis_doc_ver UNIQUE (document_id, version);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_trail_document_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_trail_document_id ON public.audit_trail USING btree (document_id, created_at DESC);


--
-- Name: idx_audit_trail_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_trail_user_id ON public.audit_trail USING btree (user_id);


--
-- Name: idx_document_analyses_doc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_analyses_doc ON public.document_analyses USING btree (document_id);


--
-- Name: idx_document_analyses_doc_ver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_analyses_doc_ver ON public.document_analyses USING btree (document_id, version);


--
-- Name: idx_documents_advisor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_advisor_id ON public.documents USING btree (advisor_id);


--
-- Name: idx_documents_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_created_at ON public.documents USING btree (created_at DESC);


--
-- Name: idx_documents_original_doc_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_original_doc_id ON public.documents USING btree (original_document_id);


--
-- Name: idx_documents_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_status ON public.documents USING btree (status);


--
-- Name: idx_documents_version; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_version ON public.documents USING btree (version);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (user_id, is_read);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id, created_at DESC);


--
-- Name: idx_revision_threads_root; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_revision_threads_root ON public.revision_threads USING btree (root_document_id);


--
-- Name: idx_thread_entries_doc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_thread_entries_doc ON public.revision_thread_entries USING btree (document_id);


--
-- Name: idx_thread_entries_thread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_thread_entries_thread ON public.revision_thread_entries USING btree (thread_id, created_at);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: audit_trail audit_trail_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail
    ADD CONSTRAINT audit_trail_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: audit_trail audit_trail_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail
    ADD CONSTRAINT audit_trail_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: document_analyses document_analyses_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_analyses
    ADD CONSTRAINT document_analyses_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: documents documents_advisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_advisor_id_fkey FOREIGN KEY (advisor_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: documents documents_original_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_original_document_id_fkey FOREIGN KEY (original_document_id) REFERENCES public.documents(id) ON DELETE RESTRICT;


--
-- Name: notifications notifications_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: revision_thread_entries revision_thread_entries_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_thread_entries
    ADD CONSTRAINT revision_thread_entries_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: revision_thread_entries revision_thread_entries_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_thread_entries
    ADD CONSTRAINT revision_thread_entries_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: revision_thread_entries revision_thread_entries_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_thread_entries
    ADD CONSTRAINT revision_thread_entries_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.revision_threads(id) ON DELETE CASCADE;


--
-- Name: revision_threads revision_threads_root_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revision_threads
    ADD CONSTRAINT revision_threads_root_document_id_fkey FOREIGN KEY (root_document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dNOhYQpa1oFL3MCCfTjsVBxrOceDD5MdAjxL07xUtQyv0cdRWaPsEWI6KMGwF1L

